{% extends "base.html" %}

{% block content %}

<a href="{% url 'book:book_create' %}">Add new book</a>  ||  

<a href="{% url 'book:language_list' %}">Language list</a> | <a href="{% url 'book:language_create' %}">Add new language</a>  ||   

<a href="{% url 'book:genre_list' %}">Genre List</a> | <a href="{% url 'book:genre_create' %}">Add new Genre</a>

    {% if language_list %}
    <ul>

      {% for language in language_list %}
      <li>
        <a href="{{ language.get_absolute_url }}">{{ language }}</a> |  <a href="{{ language.get_update_url }}">Update</a> | <a href="{% url 'book:language_delete' language.slug %}">Delete</a> 
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no languages.</p>
    {% endif %} 
    
{% endblock %}