{% extends "base.html" %}

{% block content %}

    <h1>List of Books</h1>

<a href="{% url 'book:book_create' %}">Add new book</a>  ||  

<a href="{% url 'book:language_list' %}">Language list</a> | <a href="{% url 'book:language_create' %}">Add new language</a>  ||   

<a href="{% url 'book:genre_list' %}">Genre List</a> | <a href="{% url 'book:genre_create' %}">Add new Genre</a>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> | {% for author in book.author.all %}
 <a href="{% url 'author:author_detail' author.slug %}">{{ author }}</a>,
{% endfor %}  | <a href="{{ book.get_update_url }}">Update</a> | <a href="{% url 'book:book_delete' book.slug %}">Delete</a> 
      </li>
      {% endfor %}</p>

    </ul>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %} 
    
{% endblock %}