{% extends "base.html" %}

{% block content %}

<h1>{{ book.title }} <a class= "btn btn-primary" href="{{ book.get_update_url }}">Update</a></h1> 

<a href="#">Add cost </a>

<p><strong>Author(s):</strong> 
{% for author in book.author.all %}
 <a href="{% url 'author:author_detail' author.slug %}">{{ author }}</a>,
{% endfor %}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p> 
<p><strong>Publisher:</strong> <a href="{% url 'publisher:publisher_detail' book.publisher.slug %}">{{ book.publisher }}</a></p>

<p><strong>Summary:</strong> {{ book.summary }}</p> 
<p><strong>Language:</strong> {{ book.language }}</p> 
<p><strong>Genre:</strong>
{% for genre in book.genre.all %}
 {{ genre }}</p> 
{% endfor %}

{% endblock %}