body {
  margin-top: 4rem;
  margin-left: 15rem;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


#books {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#books td, #books th {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

#books tr:nth-child(even){background-color: #f2f2f2;}

#books tr:hover {background-color: #ddd;}

#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;
}

#add-books {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    width: 100%;
}

#add-books td, #add-books th {
    padding: 3px;
}

#add-books-edit {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

#add-books-edit td, #add-books-edit th {
    border: 1px solid #ddd;
    padding: 4px;
}

.footer {
  position: absolute;
  right: 0px;
  bottom: 0;
  left: 0;
  padding: 6px;
  text-align: center;
}

#saved_requests {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

#saved_requests td, #saved_requests th {
    border: 1px solid #ddd;
    padding: 8px;
}