{% extends "base.html" %}

{% block content %}

<h1>List of States</h1>

<a href="{% url 'publisher:publisher_create' %}">Add new publisher</a> ||  
<a href="{% url 'publisher:country_list' %}">Country list</a> |  <a href="{% url 'publisher:country_create' %}">Add Country</a> || 
<a href="{% url 'publisher:state_list' %}">State list</a>  |  <a href="{% url 'publisher:state_create' %}">Add state</a> || 
<a href="{% url 'publisher:district_list' %}">District list</a> |<a href="{% url 'publisher:district_create' %}">Add District</a> <br>

    {% if state_list %}
    <ul>

      {% for state in state_list %}
      <li>
        <a href="{{ state.get_absolute_url }}">{{ state }}</a> | <a href="{{ state.get_update_url }}">Update</a> | <a href="{% url 'publisher:state_delete' state.slug %}">Delete</a> 
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no publishers</p>
    {% endif %} 
    
{% endblock %}